* {
  --green: #7fb536;
  --fuchsia: #e6007e;
  --orange: #F59C2F; 
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* Start Page Home */
.Banner1 {
  min-height: 200px;
  width: 100%;
  object-fit: cover;
}

.csu-section {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.div-csu {
  align-items: center;
  background-color: white;
  box-shadow: 1px 0.5px 5px #999;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
  max-width: 1080px;
}

.text-csu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.text-csu > img{
  width: 70%;
}

.text-csu > p {
  text-align: justify;
}

.video1 {
  border-radius: 0.5rem;
  max-width: 100%;
}

.conta {
  width: 90%;
  max-width: 98vw;
  margin: 0 auto;
}

.slider {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.slider > h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin: 2rem 0;
  color: #7fb536 ;
}

.card-home > a{
  text-decoration: none;
  color: black;
}

/* .splide {
  width: 98vw;
} */

.slide {
  padding: 1.5rem;
}

.card-home{
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  border-radius: 10px;
  min-height: 338px;
  justify-content: space-between;
}

.card-home-img {
  background-color: white;
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
}

.card-home-category {
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 700;
  color: #e6007e;
  padding: 10px 7px 0;
}

.card-home-title {
  padding: 0.5rem;
}

.card-home-desc {
  padding: 0.5rem;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-flayers{
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.content-flayers > img {
  object-fit: cover;
  max-width: 300px;
}
/* End Page Home */
/* Start Page About */
.container-about{
  max-width: 100rem;
  margin: 2rem auto ;
  width: 90%;
}
.container-about > div {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
} 
.textos{
  padding: 2rem;
}
.textos h1{
  padding-bottom: 2rem;
  text-align: center;
  font-weight: 600;
  color:#e6007e;
}

.textos p{
  font-size: 18px;
  padding: 0.5rem ;
  text-align:justify;
}

.img1{
  object-fit: cover;
  width: 100%;
}
/* End Page About */
/* Start Page Courses */
.academic-courses{
  background-color: #f2f2f2;

}
.card-grid-courses{
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0 ;
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  justify-content: center;
}

.head-category {
  padding: 1rem;
  background-color: #fff;
}

.title-category {
  color: #fff;
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  margin: 1rem 0;
  text-shadow: 1px 1px 1px #adadad,
             1px 2px 1px #adadad,
             1px 3px 1px #adadad,
             3px 8px 8px rgba(16, 16, 16, 0.5);
}
/* End Page Courses */
/* Start Page Course */
.div-dp{
  height: 100%;
}
.title-course{
  height: 25rem ;
  background-color: #7fb536;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding: 2rem 4rem;
}
.title-course h1{
  font-weight: 600;
  color: #fff;
  font-size: 50px;
}
.title-course p{
  margin-top: 1rem;
  color: #fff;
  font-size: 1.2rem;
}
.title-course .btn-pdf{
  margin-top: 2rem;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.btn-pdf:hover {
  background-color: #e6007e;
  box-shadow: 0px 15px 20px rgba(230, 0, 126, 0.4);
  color: #fff;
  transform: translateY(-5px);
}
.content-info-course{
  position: relative;
  top: -30px;
  margin: 0 auto;
  width: 90%;
  padding: 3rem;
  background-color: #F59C2F ;
  box-shadow: 5px 10px 5px #f59c2f5b;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 1rem;
  justify-content: space-between;
}
.content-info-course p{
  font-weight: 600;
  color: #fff;
  width: 20%;
}
.descrip-course{
  display: flex;
  margin: 2rem auto;
  width: 90%;
  padding: 2rem;
  gap: 2rem;
}
.descrip-course img{
  border-radius: 8px;
  object-fit: cover;
  min-width: 50%;
}
.descrip-course p{
  font-size: 18px;
  align-self: center;
  text-align: justify;
}
.info-course{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  gap: 1rem;
}
.info-course h1{
  font-weight: 600;
  color: #7fb536;
  text-transform: uppercase;
}
.info-course p{
  font-size: 18px;
  margin-bottom: 2rem;
  text-align: justify;
}
/* End Page Course */
/* Start Page Contact */
.banner-contact {
  width: 100%;
  min-height: 150px;
  object-fit: cover;
}
.leaflet-container {
  border-radius: 8px;
  z-index: 0;
  width: 50%;
  height: 50vh;
}
.map-contactform{
  padding: 2rem 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  justify-content: center;
}
/* End Page Contact */
@media screen and (max-width: 960px) {
  .div-csu {
      display: flex;
      flex-direction: column;
  }
  .map-contactform{
    flex-direction: column;
  }
  .leaflet-container{
    width: 90%;
    margin: auto;
  }
  .form-container{
    width: 90%;
    margin: auto;
  }
  .container-about > div{
    display: block;
  }
  div .mision{
    display: flex;
    flex-direction: column-reverse;
  }
  .textos p{
    font-size: 16px;
    text-align:center;
  }
  .title-course{
    text-align: center;
    align-items: center;
    padding: 2rem 1rem;
    flex-direction: column;
    justify-content: center;
  }
  .title-course h1{
    font-size: 2rem;
  }
  .content-info-course p{
    width: 100%;
  }
  .descrip-course{
    flex-direction: column-reverse;
    padding: 0;
  }
  .descrip-course > img{
    width: 100%;
  }
  .info-course h1{
    font-size: 1.5rem;
  }
  .title-category{
    font-size: 40px;
  }
}